<div class="button-container">
  <button (click)="anterior()">Mês anterior</button>
  <button (click)="proximo()">Mês próximo</button>
  <span>{{ calendarioAtual() }}</span>
</div>

<div class="calendar-container">
  <!-- Linha dos dias da semana -->
  <div class="calendar-header">
    <div class="calendar-day">Sun</div>
    <div class="calendar-day">Mon</div>
    <div class="calendar-day">Tue</div>
    <div class="calendar-day">Wed</div>
    <div class="calendar-day">Thu</div>
    <div class="calendar-day">Fri</div>
    <div class="calendar-day">Sat</div>
    <div
      class="calendar-item"
      *ngFor="let item of calendario"
      (click)="selecionaDia(item.dia)"
    >
      {{ item.dia.getDate() }}
    </div>
  </div>
</div>
